#ifndef __secrets__hpp__
#define __secrets__hpp__

#define WIFI_SSID "your-SSID"
#define WIFI_PASSWORD "your-PASSWORD"

#define STATSD_TEMPERATURE_BUCKET "my_room.temperature"
#define STATSD_HUMIDITY_BUCKET "my_room.humidity"
#define STATSD_SERVER "your-statsd-server"
#define STATSD_PORT   8125 // default port used by statsd

#endif //__secrets__hpp__